* {
    font-family: sans-serif;
}

html {
    background-image: linear-gradient(to right top, #051937, #004870, #007ea4, #00b8cd, #20f4e7);
    color: #FFFFFF;
    background-attachment: fixed;
    height: 100%;
}

header {
    padding: 20px 10px 20px 10px
}

nav {
    text-align: center;
}

nav a {
    font-size: 1.25em;
    padding: 2px 10px 2px 10px;
}

nav a:active, nav a:hover {
    border-bottom: solid;
    border-color: #20F4E7;
}

nav a {
    color: #FFF;
    text-decoration: none;
}

footer .footer-left {
    padding: 20px 50px 20px 50px;
    position:fixed;
    bottom:0;
    left: 0;
}

footer .footer-right {
    padding: 20px 50px 20px 50px;
    position:fixed;
    bottom:0;
    right: 0;
}

footer img {
    width: 24px;
    height: auto;
    padding: 0 5px;
}

p {
    text-align: left;
    margin-bottom: 50px;
}

main {
    text-align: center;
}

main a {
    text-decoration: none;
    border: 1px solid #20F4E7;
    padding: 5px 10px;
    border-radius: 5px;
    color: #FFF;
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 2px solid #3399CC;
    border-collapse: collapse;
    font-size: 1em;
}

th, td {
    padding: .5em;
    border: 2px solid #3399CC;
}

td {
    min-width: 150px;
    text-align: center;
}

tr:nth-of-type(odd) {
    background-color: #F5FAFC;
}

/* form {
    text-align: left;
} */

#fname, #lname, #email, #phone_number {
    font-size: 1em;
    height: 30px;
    min-width: 300px;
    padding: 0 10px 0 10px;
    margin: 5px;
    border: 2px solid #D3D3D3;
    border-radius: 5px;
}

form textarea {
    font-size: 1em;
    border: 2px solid #D3D3D3;
    border-radius: 5px;
    margin: 5px;
    min-width: 300px;
    padding-left: 10px;
}

blockquote {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
}

video {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    border-radius: 5px;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.active {
    border-bottom: solid;
    border-color: #20F4E7;
}

.description {
    padding: 10px 100px 10px 100px;
    text-align: center;
}

.jumbotron {
    padding: 20px 10px 10px 10px;
    text-align: center;
    font-size: 3em;
}

.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    /* max-height: 300px; */
    border-radius: 5px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.text {
    text-align: left;
}

.card {
    padding: 10px 50px 10px 50px;
    text-align: center;
    background: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    color: #000;
    margin-bottom: 50px;
}

.card.work_experience {
    padding: 10px 10px 10px 10px;
    width: 100%;
}

.card p {
    /* padding: 100px 10px 100px 10px; */
    text-align: left !important;
}

.signature {
    text-align: right;
    padding: 0 50px;
}

.video {
    margin-bottom: 10px;
}
